In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
#default_exp initialize

In [ ]:
# export
from grade_classif.params.classif import hparams
from grade_classif.data.read import create_csv

In [ ]:
df = create_csv(hparams.data_csv, hparams.data, lambda x: x.parts[-3])
df.head()

{'1': 140, '3': 985}

                      scan grade  split
0   CF_PACS04rescan_06P028     1  train
1   CF_PACS04rescan_06P029     1  train
2  CF_PACS04rescan_06P0429     1  train
3  CF_PACS04rescan_06P0439     1  valid
4  CF_PACS04rescan_06P0454     1  train

In [ ]:
#hide
from nbdev.export import notebook2script
notebook2script(fname='_initialize.ipynb')

Converted _initialize.ipynb.